
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/yoochang.png">
  <link rel="icon" type="image/png" href="../static/img/yoochang.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Yoochangfood Introduction
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/css/material-kit.css?v=2.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />
  <link href="../static/demo/vertical-nav.css" rel="stylesheet" />
  <link href='./static/css/nanumbarungothic.css' rel='stylesheet' type='text/css'>

</head>

<body class="about-us sidebar-collapse">
  <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a href="main-en" alt="Raised Image">
        <img class="navbar-brand"alt="Raised Image"  src="../static/img/유창식품.png"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item" >
            <a href="/intro-en" class="dropdown-toggle nav-link" data-toggle="dropdown" >
              About us
            </a>
            <div class="dropdown-menu dropdown-with-icons active" >
              <a href="/intro-en" class="dropdown-item">
                Greetings
              </a>
              <a href="/intro2-en" class="dropdown-item">
                Corporate philosophy
              </a>
              <a href="/intro3-en" class="dropdown-item">
                Vision
              </a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="/product-en" class="dropdown-toggle nav-link" data-toggle="dropdown">
              Item discription
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/product-en" class="dropdown-item">
                Handling product
              </a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="/support-en" class="dropdown-toggle nav-link" data-toggle="dropdown">
              Service center
            </a>
            <div class="dropdown-menu dropdown-with-icons">
                <a href="/support-en" class="dropdown-item">
                  Product Inquiry
                </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/img/intro/category-ban.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto text-center">
          <h1 class="title">About Us</h1>
          <div style="float: left; width:30%; display:inline-block;">
            <a href="/intro-en"> <h4 class="info-title text-white">Greetings</h4> </a>
          </div>
          <div style="float: contour; width:30%;display:inline-block; color: #f44336; font-weight: bolder; text-decoration: underline">
            <h4 class="info-title text-danger">Corporate philosophy</h4>
          </div>
          <div style="float: right; width:30%; display:inline-block;">
            <a href="/intro3-en"> <h4 class="info-title text-white">Vision</h4> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="about-team team-1">
        <img class="img-raised img-fluid" alt="Raised Image" height="500" src="../static/img/intro/intro2.jpg">
        <div class="section text-center">
          <h1 style="color: orangered; font-weight: bold;">" EATING PLASURE "</h1>
          <h2 style="color: #767676; font-weight: bold;">Introducing Yoochang Corporate Philosophy</h2>
          <div class="wrapper col-12">
            <div class="row mt-3">
              <div class="col-xl-6">
                <img style="height: 250px; width: 100%;" src="static/img/intro/well-made-1.jpg">
              </div>
              <div class="wrapper col-xl-6 text-left" style="background-color: #f1f0eb; height: 250px; width: 100%;">
                <div class="ml-2" style="padding-top: 50px">
                  <span class="" style="font-weight: bold; font-size: 30px">
                    <span style="color: #fa8e02;">WELL</span>
                    - MADE
                  </span>
                  <span style="font-size: 25px; line-height: 130% ">
                    <br>
                    <br>
                    <b>Pleasant ingredients!</b>
                    <br>
                    Treats the trustful and right food. We will provide food suitable for the age of well-being.
                  </span>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-xl-6">
                <img style="height: 250px; width: 100%;" src="static/img/intro/well-service-1.jpg">
              </div>
              <div class="wrapper col-xl-6 text-left" style="background-color: #f1f0eb; height: 250px; width: 100%;">
                <div class="ml-2" style="padding-top: 50px">
                  <span class="" style="font-weight: bold; font-size: 30px">
                    <span style="color: #fa8e02;">WELL</span>
                    - SERVICE
                  </span>
                  <span style="font-size: 25px; line-height: 130% ">
                    <br>
                    <br>
                    <b>Pleasant service!</b>
                    <br>
                    Make you laugh with the best service.
                  </span>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-xl-6">
                <img style="height: 250px; width: 100%;" src="static/img/intro/well-trust-1.jpg">
              </div>
              <div class="wrapper col-xl-6 text-left" style="background-color: #f1f0eb; height: 250px; width: 100%;">
                <div class="ml-2" style="padding-top: 50px">
                  <span class="" style="font-weight: bold; font-size: 30px">
                    <span style="color: #fa8e02;">WELL</span>
                    - TRUST
                  </span>
                  <span style="font-size: 25px; line-height: 130% ">
                    <br>
                    <br>
                    <b>Joyful trust!</b>
                    <br>
                    Trust your customers and be trusted by them.
                  </span>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-black">
    <div class="container">
      <a class="footer-brand" href="#">YOOCHANGFOOD</a>
      <ul class="pull-center">
        <li>
          <a href="https://www.google.com/maps/place/10%C2%B046'37.9%22N+106%C2%B045'07.3%22E/@10.777183,106.7498253,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d10.777183!4d106.752014">
            Map
          </a>
        </li>
        <li>
          <a href="/intro">
            About Us
          </a>
        </li>
        <li>
          <a href="/product">
            Product
          </a>
        </li>
        <li>
          <a href="/support">
            Support
          </a>
        </li>
      </ul>
      <ul class="float-right">
        <li>
          <a href="#" target="_blank" >
            <img src="static/img/icons/facebook-icon.png" style="width: 20px; height: 20px;">
          </a>
        </li>
        <li>
          <a href="#" target="_blank" >
            <img src="static/img/icons/instagram-icon.png" style="width: 20px; height: 20px;">
          </a>
        </li>
        <li>
          <a href="#" target="_blank" >
            <img src="static/img/icons/youtube-icon.png" style="width: 20px; height: 20px;">
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="../static/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="../static/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../static/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../static/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../static/js/plugins/jasny-bootstrap.min.js" type="text/javascript"></script>
  <!--	Plugin for Small Gallery in Product Page -->
  <script src="../static/js/plugins/jquery.flexisel.js" type="text/javascript"></script>
  <!-- Plugins for presentation and navigation  -->
  <script src="../static/demo/modernizr.js" type="text/javascript"></script>
  <script src="../static/demo/vertical-nav.js" type="text/javascript"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
  <script src="../static/demo/demo.js" type="text/javascript"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/material-kit.js?v=2.2.0" type="text/javascript"></script>
</body>

</html>