<!doctype html>
<html lang="kr">

<head>
  <title>유창식품 YOOCHANGFOOD </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="apple-touch-icon" sizes="76x76" href="../static/yoochang.png">
  <link rel="icon" type="image/png" href="../static/img/yoochang.png">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="static/css/material-kit.css?v=2.2.0" rel="stylesheet" />
  <link rel="stylesheet" href="static/css/owl.carousel.css">
  <script src="static/js/jquery.min.js" charset="utf-8"></script>
  <link href="./static/css/vertical-nav.css" rel="stylesheet" />


  <script>
  function initialize() {
  var myLatlng = new google.maps.LatLng(37.2915450, 127.0430790);
  var mapOptions = {
        zoom: 14,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
  var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "유창식품"
  });
  }
  window.onload = initialize;
  </script>
  <style>

    img.img-trans{
        animation: rotate_image 2s linear infinite;
        transform-origin: 50% 50%;
    }

    @keyframes rotate_image{
        100% {
            transform: rotate(360deg);
        }
    }

  </style>
</head>
<body class="landing-page sidebar-collapse">
  <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a href="/" alt="Raised Image">
          <img class="navbar-brand"alt="Raised Image"  src="../static/img/유창식품.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li><a href="/main2" target="_blank" class="badge  badge-primary"> 홈페이지 </a></li>
          <li class="dropdown nav-item" >
            <a href="/intro" class="dropdown-toggle nav-link" data-toggle="dropdown" >
              회사소개
            </a>
            <div class="dropdown-menu dropdown-with-icons active" >
              <a href="/intro" class="dropdown-item">
                인사말
              </a>
              <a href="/intro2" class="dropdown-item">
                기업이념
              </a>
              <a href="/intro3" class="dropdown-item">
                비전
              </a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="/product" class="dropdown-toggle nav-link" data-toggle="dropdown">
              제품소개
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/product" class="dropdown-item">
                취급상품
              </a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="/support" class="dropdown-toggle nav-link" data-toggle="dropdown">
              고객센터
            </a>
            <div class="dropdown-menu dropdown-with-icons">
                <a href="/support" class="dropdown-item">
                    제품문의
                </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/img/landingpage/main-1.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand">
            <h1 class="title">유창식품 베트남</h1>
            <h4>30년 유통노하루로, 엄선된 약 200가지 브랜드제품과 3,000가지의 다양한 식자재제품을 판매중입니다.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- product -->
  <div class="main">
    <div class="profile-content">
        <div class="container">
          <div class="section text-center">
            <h2 class="title">찾으시는 제품이 있으신가요?</h2>
            <h4 class="text mb-4">업종별 추천제품으로 간편하게 쇼핑하세요!</h4>
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="profile-tabs">
                  <ul class="nav nav-pills nav-pills-primary ml-auto mr-auto nav-fill">
                    <li class="nav-item ">
                      <a class="nav-link label active" href="#k-food" data-toggle="tab">#ALL</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#k-food" data-toggle="tab">#분식</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#works" data-toggle="tab">#도시락</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#works" data-toggle="tab">#카페</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#works" data-toggle="tab">#주점</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content tab-space" style="padding-bottom:0px">
              <div class="tab-pane text-center gallery" id="k-food" >
                <hr class="mr-auto ml-auto mb-4 mt-2" style="border: dot-dot-dash 1px darkred;">
                <div class="row">
                  <div class="col-4 col-lg-2 carousel " style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/skewered-fishcake1.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>꼬치어묵 168G</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2 carousel " style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/skewered-fishcake1.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>모듬꼬치 800G</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2 carousel " style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/skewered-fishcake1.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>사각꼬치 640G</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/337_n.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>볼어묵 1KG</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/338_n.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>사각어묵 1KG</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/339_n.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>봉어묵 1KG</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/336_n.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>종합어묵 1KG</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/320_n.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>찰순대 1KG</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/kroean-tteok.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>떡볶이키트 320G</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/320_n.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>숯불곱창볶음 250G</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/noodle.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>평양물냉면(3인분) 1.64KG</b></h4>
                    </div>
                  </div>
                  <div class="col-4 col-lg-2" style="overflow: hidden">
                    <div class="text-left">
                      <img class="img img-fluid" src="static/img/product-image/thum/korean-sausage-stew.jpg" style="width: 100%; height: 100%">
                      <h4 class="text-center "> <b>순대국 650G</b></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane text-center gallery" id="works">
              </div>
              <div class="tab-pane text-center gallery" id="favorite">
                <div class="row">
                  <div class="col-md-3 ml-auto">
                    <img src="../static/img/examples/mariya-georgieva.jpg" class="rounded">
                    <img src="../static/img/examples/studio-3.jpg" class="rounded">
                  </div>
                  <div class="col-md-3 mr-auto">
                    <img src="../static/img/examples/clem-onojeghuo.jpg" class="rounded">
                    <img src="../static/img/examples/olu-eletu.jpg" class="rounded">
                    <img src="../static/img/examples/studio-1.jpg" class="rounded">
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  <hr style="border: solid 1px darkred; margin: auto">
  <!--     *********     FEATURES 1      *********      -->
  <div class="main" data-parallax="true" style="background-image: url('./static/img/BG-2.jpg')">
    <div class="container">
      <div class="features-1">
        <div class="col-md-12 ml-auto mr-auto mt-5 mb-auto">
          <h2 class="title" style="margin-bottom: 0px;">베스트 제품소개</h2>
        </div>
        <div class="row" style="margin-top: 0px;">
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/skewered-fishcake1-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>꼬치어묵 168G</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#맞닿음</span>
              <span class="badge badge-pill badge-danger">#어묵류</span>
              <span class="badge badge-pill badge-danger">#간편조리식</span>
            </div>
          </div>
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/ractangle-fishcake-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>사각어묵 1KG</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#유창</span>
              <span class="badge badge-pill badge-danger">#어묵류</span>
            </div>
          </div>
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/ball-fishcake-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>볼어묵 1KG</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#유창</span>
              <span class="badge badge-pill badge-danger">#어묵류</span>
            </div>
          </div>
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/stick-fishcake-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>봉어묵 1KG</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#유창</span>
              <span class="badge badge-pill badge-danger">#어묵류</span>
            </div>
          </div>
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/korean-sausage-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>찰순대 1KG</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#유창</span>
              <span class="badge badge-pill badge-danger">#순대류</span>
            </div>
          </div>
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/fried-guts-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>숯불곱창볶음 250G</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#유창</span>
              <span class="badge badge-pill badge-danger">#간편조리식</span>
            </div>
          </div>
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/korean-sausage-stew-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>순대국 650G</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#인생분식</span>
              <span class="badge badge-pill badge-danger">#간편조리식</span>
            </div>
          </div>
          <div class="col-6 col-lg-3" style="overflow: hidden">
            <div class="info text-left">
              <img class="img img-fluid" src="static/img/product-image/thum/noodle-t.jpg" style="width: 100%; height: 100%">
              <h4 class="text-left "> <b>평양물냉면 1.64KG</b></h4>
              <h3 class="text-left "> 가격문의</h3>
              <span class="badge badge-pill badge-danger">#인생분식</span>
              <span class="badge badge-pill badge-danger">#간편조리식</span>
            </div>
          </div>
        </div>

        <script>
        var cities = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: 'static/cities.json'
        });
        cities.initialize();

        var elt = $('input');
        elt.tagsinput({
          tagClass: function(item) {
            switch (item.continent) {
              case 'Europe'   : return 'label label-primary';
              case 'America'  : return 'label label-danger label-important';
              case 'Australia': return 'label label-success';
              case 'Africa'   : return 'label label-default';
              case 'Asia'     : return 'label label-warning';
            }
          },
          itemValue: 'value',
          itemText: 'text',
          typeaheadjs: {
            name: 'cities',
            displayKey: 'text',
            source: cities.ttAdapter()
          }
        });
        elt.tagsinput('add', { "value": 1 , "text": "Amsterdam"   , "continent": "Europe"    });
        elt.tagsinput('add', { "value": 4 , "text": "Washington"  , "continent": "America"   });
        elt.tagsinput('add', { "value": 7 , "text": "Sydney"      , "continent": "Australia" });
        elt.tagsinput('add', { "value": 10, "text": "Beijing"     , "continent": "Asia"      });
        elt.tagsinput('add', { "value": 13, "text": "Cairo"       , "continent": "Africa"    });
        </script>

      </div>
    </div>
  </div>
  <!--FEATURE3-->
  <hr style="border: solid 1px darkred; margin: auto">
  <div class="section" style="background-color: white">
    <div class="container">
      <div class="col-sm-12 ml-auto mr-auto mt-5 text-center ">
        <h2 class="title">취급품목 리스트(PRODUCT LIST)</h2>
        <h4 class="text">유창식품은 본사 제품 이외 약 3,000가지 식자재를 안정적으로 유통하고 있습니다.</h4>
        <br>
      </div>
      <!--#1-->
      <div>
        <div class="row">
          <div class="col-12 col-lg-12" id="accordion" role="tablist">
            <!--one-->
            <div class="card card-collapse">
              <div class="card-header" role="tab" id="headingOne">
                <h3 class="mb-0">
                  <a class="collapse" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h3><b>·어묵류(FRIED FISHCAKE)</b><i class="material-icons">▼</i></h3>
                  </a>
                </h3>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img class="img img-fluid" src="static/img/product-image/thum/skewered-fishcake1.jpg" style="width: 100%; height: 100%">
                          <h4 class="text-center "> <b>사각꼬치 168G</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img class="img img-fluid" src="static/img/product-image/thum/skewered-fishcake1.jpg" style="width: 100%; height: 100%">
                          <h4 class="text-center "> <b>사각꼬치 640G</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img class="img img-fluid" src="static/img/product-image/thum/skewered-fishcake1.jpg" style="width: 100%; height: 100%">
                          <h4 class="text-center "> <b>모듬꼬치 800G</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img class="img img-fluid" src="static/img/product-image/thum/336_n.jpg" style="width: 100%; height: 100%">
                          <h4 class="text-center "> <b>종합어묵 1KG</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img class="img img-fluid" src="static/img/product-image/thum/337_n.jpg" style="width: 100%; height: 100%">
                          <h4 class="text-center "> <b>볼어묵 1KG</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img class="img img-fluid" src="static/img/product-image/thum/338_n.jpg" style="width: 100%; height: 100%">
                          <h4 class="text-center "> <b>사각어묵 1KG</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img class="img img-fluid" src="static/img/product-image/thum/339_n.jpg" style="width: 100%; height: 100%">
                          <h4 class="text-center "> <b>봉머묵 1KG</b></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--two-->
            <div class="card card-collapse">
              <div class="card-header" role="tab" id="headingTwo">
                <h3 class="mb-0">
                  <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h3><b>·순대류(KOREAN SAUSAGE)</b><i class="material-icons">▼</i></h3>
                  </a>
                </h3>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img src="static/img/product-image/thum/320_n.jpg" style="width: 100%; height: 100%;">
                          <h4 class="text-center "> <b>유창 순대 1KG</b></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--3th-->
            <div class="card card-collapse">
              <div class="card-header" role="tab" id="heading3th">
                <h3 class="mb-0">
                  <a data-toggle="collapse" href="#collapse3th" aria-expanded="false" aria-controls="collapse3th">
                    <h3><b>·간편조리식(READY FOR COOK)</b><i class="material-icons">▼</i></h3>
                  </a>
                </h3>
              </div>
              <div id="collapse3th" class="collapse" role="tabpanel" aria-labelledby="heading3th" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img src="static/img/product-image/thum/kroean-tteok.jpg" style="width: 100%; height: 100%;">
                          <h4 class="text-center "> <b>떡볶이키트 320G</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img src="static/img/product-image/thum/noodle.jpg" style="width: 100%; height: 100%;">
                          <h4 class="text-center "> <b>평양물냉면(3인분) 1.64KG</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img src="static/img/product-image/thum/korean-sausage-stew.jpg" style="width: 100%; height: 100%;">
                          <h4 class="text-center "> <b>순대국 650g</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img src="static/img/product-image/thum/320_n.jpg" style="width: 100%; height: 100%;">
                          <h4 class="text-center "> <b>숯불곱창볶음 250g</b></h4>
                      </div>
                    </div>
                    <div class="col-4 col-lg-3">
                      <div class="img img-fluid">
                          <img src="static/img/product-image/thum/skewered-fishcake1.jpg" style="width: 100%; height: 100%;">
                          <h4 class="text-center "> <b>꼬치어묵 168g</b></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--FEATURE2-->
  <hr style="border: solid 1px darkred; margin: auto">
  <script src="static/js/owl.carousel.js"></script>
  <div class="main data-parallax=true" style="background-color: white;">
    <div class="container" style="height: auto; text-align: center;">
      <div class="row">
          <div class="col-md-12 ml-auto mr-auto mt-5 mb-auto">
            <h2 class="title">브랜드 제품소개</h2>
            <h4 class="text">유창식품은 약 3,000가지 식자재를 안정적으로 유통하고 있습니다.</h4>
            <br>
          </div>
        </div>
      <div class="owl-carousel">
        <div class="item ">
          <img src="static/img/produc/74_n.jpg" alt="유창 떡볶이소스"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/644_n.jpg" alt="유창 가래떡"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/320_n.jpg" alt="유창 순대 1KG"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/641_n.jpg" alt="유창 쌀떡볶이(신당)"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/638_n.jpg" alt="유창 쌀떡볶이(중떡)"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/365_n.jpg" alt="유창 찰순대 2KG"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/338_n.jpg" alt="유창 사각어묵 1KG"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/339_n.jpg" alt="유창 봉어묵 1KG"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/337_n.jpg" alt="유창 볼어묵 1KG"  class="visible-lg visible-md">
        </div>
        <div class="item ">
          <img src="static/img/produc/336_n.jpg" alt="유창 종합어묵 1KG"  class="visible-lg visible-md">
        </div>
      </div>
      <button class="btn pull-center btn-primary mb-5">유창제품보기</button>
      <button class="btn pull-center btn-dark mb-5">기타제품보기</button>
    </div>
  </div>
  <script>
   $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:3
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
  })
  </script>





  <div class="section" style="background-color: darkred">
    <div class="container">
      <div class="row">
        <img class="img-trans  ml-auto" src="../static/img/landingpage/clock1.png" style="width: 50px; height: 50px; display: block; margin: 0px auto;">
      </div>
      <div class="row">
        <h3 class="title mr-auto text-center" style="color: white; margin: 8px auto;" >상담가능시간</h3>
      </div>
      <div class="row">
        <h5 class="mr-auto text-center" style="color: white; margin: 2px auto;" >AM 9:00~PM6:00</h5>
      </div>
      <div class="row">
        <h5 class="mr-auto text-center" style="color: white; margin: 0px auto;" >+84.90.242.1689(VN)
                <br> +84.90.477.7100(KR)</h5>
      </div>
    </div>
  </div>




<!--     *********    CONTACT US 1     *********      -->
  <hr style="border: solid 1px darkred; margin: auto">
  <div class="contactus-1  bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="title">제품구매문의</h2>
          <h5 class="description">유창식품 베트남<br> (YOOCHANGFOOD VIETNAM)</h5>
          <div class="info info-horizontal">
            <div class="description">
              <h4> <b>찾아오시는 길</b></h4>
              <p> Số 05 Tậ Hiện, Phuòng Thạnh Mỹ Lợi,
                <br> Quận 2, Thành phố Hồ Chí Minh, Viêt Nam
                <br> Yoochangfood Vietnam
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="description">
              <h4><b>연락처</b></h4>
              <p> +84.90.242.1689(VN)
                <br> +84.90.477.7100(KR)
                <br> san.ho.susan.comp@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 ml-auto">
          <div class="card card-contact">
            <form id="contact-form" method="post" action="/board">
              <div class="card-header card-header-raised card-header-danger text-center">
                <h4 class="card-title">이메일문의</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="bmd-label-floating">성</label>
                      <input type="text" name="name1" class="form-control">
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating is-empty">
                      <label class="bmd-label-floating">이름</label>
                      <input type="text" name="name2" class="form-control">
                      <span class="material-input"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group label-floating is-empty">
                  <label class="bmd-label-floating">이메일주소</label>
                  <input type="email" name="email" class="form-control">
                  <span class="material-input"></span>
                </div>
                <div class="form-group label-floating is-empty">
                  <label for="exampleMessage1" class="bmd-label-floating">문의내용</label>
                  <textarea name="message" class="form-control" id="exampleMessage1" rows="6"></textarea>
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="card-footer justify-content-between">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> 로봇이 아닙니다
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <button type="submit" id="submit" class="btn pull-right btn-danger ">메세지전송</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/jt.js"> </script>
  <!--     *********    END CONTACT US 1      *********      -->

  <div id="map_canvas" style="width: 100%; height: 400px; margin:0px;"></div>



  <!--     *********    SIMPLE FOOTER WITH SOCIAL AND BRAND     *********      -->
  <footer class="footer footer-white">
    <div class="container">
      <a class="footer-brand" href="#">YOOCHANGFOOD</a>
      <ul class="pull-center">
        <li>
          <a href="#">
            MAP
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
        <li>
          <a href="#">
            Licenses
          </a>
        </li>
      </ul>
      <ul class="social-buttons float-right">
        <li>
          <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-dribbble">
            <i class="fa fa-dribbble"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-google">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
          <!--     *********   END SIMPLE FOOTER WITH SOCIAL AND BRAND     *********      -->





  <!--   Core JS Files   -->
  <script src="./static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./static/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="./static/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="./static/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./static/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="./static/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="./static/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="./static/js/plugins/jasny-bootstrap.min.js" type="text/javascript"></script>
  <!--	Plugin for Small Gallery in Product Page -->
  <script src="./static/js/plugins/jquery.flexisel.js" type="text/javascript"></script>
  <!-- Plugins for presentation and navigation  -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="./static/js/material-kit.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });
  </script>
</body>

</html>
